{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="description" content="" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      Fraction
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Fraction</span>
    </div>
  </nav>

   <main class="container">
     <section class="p-4">
        <div class="row">
          <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              Filters
            </div>
            <div class="card-body">
              <form class="row gy-2 gx-3 align-items-center" onSubmit="handleFiltersSubmit(event)">
                <div class="col-auto">
                  <label class="visually-hidden" for="department">Department</label>
                  <select class="form-select" id="department" name="department">
                    <option selected>Department</option>
                    {% for department in departments %}
                      <option value="{{ department }}">{{ department }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-auto">
                  <label class="visually-hidden" for="product">Product</label>
                  <select class="form-select" id="product" name="product">
                    <option selected>Product</option>
                    {% for product in products %}
                      <option value="{{product }}">{{ product }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-auto">
                  <a href="/" class="btn btn-outline-secondary">Clear filters</a>
                </div>
              </form>
            </div>
          </div>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-md-8">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Department</th>
                  <th scope="col">Product</th>
                  <th scope="col">Sales</th>
                  <th scope="col">COGS</th>
                  <th scope="col">Profit</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                {% for line in financial  %}
                <tr>
                  <th scope="row">{{ line.Department }}</th>
                  <td>{{ line.Product }}</td>
                  <td> {{ line.Sales }}</td>
                  <td> {{ line.COGS }} </td>
                  <td> {{ line.Profit }} </td>
                  <td> {{ line.Date }} </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
              {% for number in page_count %}
                <li class="page-item" id="pageNumber{{number}}"><button class="page-link" onclick="handlePageSelect(event)" value="{{number}}">{{number}}</button></li>
              {% endfor %}
            </ul>
          </nav>
          </div>

          <div class="col-md-4">
            <a type="button" class="btn btn-outline-info" href="{% url 'export-to-csv' %}">Export</a>
          </div>
        </div>
     </section>
     <section class="p-4">
       <div class="card">
         <div class="card-body">
           {{ graph|safe }}
         </div>
       </div>
     </section>
   </main>
  <script src="{% static "js/index.js" %}"></script>
  </body>
</html>
